.side__menu {
  max-width: 288px;
  width: 100%;
  list-style-type: none;
  margin-right: 20px;
  padding: 0;
}

.menu__elem_link {
  height: 48px;
  max-width: 250px;
  width: calc(100% );
  padding: 14px 17px;
  margin-left: 29px;
  border-radius: 10px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 20px;
}

.menu__elem {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 20px;
  color: #081472;
  max-width: 230px;
  width: calc(100% - 34px);
  /* padding: 15px 17px; */
  display: flex;
  flex-direction: row;
  align-items: center;
}

.link_selected {
  background: #FFD976;
}

.link__img {
  margin-right: 18px;
}