.password__window {
  display: flex;
  flex-direction: row;
  background: #FFFFFF;
  border: 2px solid #C9CCE2;
  border-radius: 12px;
  height: 20px;
  width: 360px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.password__window:has(.input__password:focus-visible) {
  border-color: #081472;
}

.label__password {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #AFB2CD;
}

.input__password {
  border: none;
  width: 340px;
  outline: none;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 23px;
  color: #AFB2CD;
}

.input__password:active {
  border: 0;
  width: 340px;
}

.input__password:focus-visible {
  border: none;
  width: 340px;
  border-color: #081472;
}

.password__icon {
  background-image: url(./images/Vector.svg);
  background-repeat: no-repeat;
  width: 23px;
  height: 20px;
  margin-top: 5px;
}

.password__iconIsShow {
  background-image: url(./images/Vector1.svg);
  background-repeat: no-repeat;
  width: 23px;
  height: 20px;
  margin-top: 5px;
}
