.header__downloads {
  max-width: 225px;
  width: 100%;
  height: 61px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 27px;
  background: #FFB800;
  border-radius: 20px;
  max-width: 211px;
  width: 100%;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #081472;
  border: none;
  cursor: pointer;
}

.downloads__icon {
  margin-right: 15px;
}

.open_window {
  position: fixed;
  width: 1000vh;
  height: 100vw;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);  
}